VTFoc1ExRnRVbGxWYmxwS1VqRktjMXBGWkZkaGJWSkVVV3BDWVZkSFozZFRWV1JoWTBkS1NGWnVjRXBTTUZveFYydE9RMlF4Y0ZsVGJURnBUVEJ3TUZOVlZqUlNNR3hJVGxoYWFtSlVSbTlaYTJSelRteHNXVlZ1UW1sTmFsSk1VekpzUTAxR2NGbGhSRUpSVmpCWmVGcEZZelJUZHowOQ==